$colors: (
  neutral: (
    light: white,
    normal: gray,
    dark: black,
  ),
  primary: (
    red: #ffa4a3,
    orange: #ffd6aa,
    yellow: #fbffb5,
    green: #bcffb7,
    blue: #b4d7ff,
    blue-dark: darken(#b4d7ff, 20%),
  ),
  accent: orange,
);
