@use 'sass:list';
@use 'sass:string';
@use 'sass:map';
@use 'colors' as *;
@use 'typography' as *;
@function suggest($size) {
  $units: em, ch, ex, rem, vw, vh, cm, mm, in, px, pt, pc;
  $suggestions: ();
  @each $unit in $units {
    @if string.index(unit($size), $unit) !=
      null or
      string.index($unit, unit($size)) ==
      1
    {
      $suggestions: list.append($suggestions, $unit, 'slash');
    }
  }
  @return $suggestions;
}

@function clr($color...) {
  @if (map.has-key($colors, $color...)) {
    @return map.get($colors, $color...);
  }

  @error "No color is available at that selector";
}
@function font-size($color...) {
  @if (map.has-key($font-sizes, $color...)) {
    @return map.get($font-sizes, $color...);
  }

  @error "No font size is available at that selector";
}
