@use 'functions' as *;
@use 'sass:meta';
@use 'sass:map';
@use 'breakpoints' as *;
@mixin mq($size) {
  $breakpoint: null;
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
  } @else if meta.type-of($size) == number {
    @if unitless($size) {
      @error "#{$size} is not in the map and is a number but unitless";
    } @else {
      $unit: unit($size);
      @if index($units, $unit) != null {
        @if $unit == 'em' {
          @warn "em is a very risky unit, use rem instead";
        }
        $breakpoint: $size;
      } @else {
        $suggest: suggest($size);
        $error: 'invalid unit, no such unit (#{$unit}) in #{$units}';
        @if list.length($suggest) != 0 {
          $error: $error + ', did you mean #{$suggest}';
        }
        @error $error;
      }
    }
  } @else {
    @error "#{$size} is not in the map and is not a number";
  }
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
