$ff-sans: system-ui, sans-serif;
$ff-bebas-neue: 'Bebas Neue', cursive;
$ff-roboto: 'Roboto Condensed', sans-serif;

$font-sizes: (
  900: 3.75rem,
  800: 3rem,
  700: 1.75rem,
  600: 1.5rem,
  500: 1.3125rem,
  400: 1.125rem,
  200: 0.9rem,
);

$fw-400: 400;
$fw-700: 700;
