@use '../abstracts' as *;
@use 'badge' as *;
@use 'sass:color';
.card-list {
  @include flex($direction: column, $gap: 1rem);
}
.card {
  $parent: &;
  border-radius: 10px;
  @include flex($gap: 1.5rem, $align: center);
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.4);
  &__thumbnail {
    & > img {
      border-radius: 10px;
      object-fit: cover;
      height: 90px;
    }
    position: relative;
  }
  &__thumbnail::after {
    content: '';
    display: block;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    inset: 10px -10px 10px auto;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    margin-left: 1px;
  }
  &__content {
    @include flex(
      $direction: column,
      $align: flex-start,
      $justify: space-between
    );
    flex-basis: 70%;
  }
  &__title {
    @include bold($ff-bebas-neue);
    font-size: 1.4rem;
  }
  &__user {
    @include sub($ff-roboto);
    font-size: 1.1rem;
  }

  &__meta {
    @include flex($gap: 0.5rem);
    margin-left: -5px;
    & > * {
      @include flex($gap: 10px, $align: center);
      @extend %badge;

      & > img {
        filter: brightness(0) invert(1);
      }
    }
    &__genre {
      background-color: color.scale(
        clr(primary, orange),
        $lightness: -30%
      ) !important;
    }
    &__comments {
      background-color: color.scale(
        clr(primary, red),
        $lightness: -30%
      ) !important;
    }
  }
  &__desc {
    -webkit-line-clamp: 1;
    width: 120px;
    @include mq(medium) {
      -webkit-line-clamp: 2;
      width: 380px;
    }
    @include mq(large) {
      width: 100%;
    }
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
  }
  &__action {
    @include mq(medium) {
      display: block !important;
    }
    display: none;
    cursor: pointer;
    transition: 500ms ease-in-out;
    background-color: color.scale(clr(primary, red), $lightness: -30%);
    border-radius: 10px;
    color: white;
    font-family: $ff-sans;
    font-weight: 600;
    padding: 0.5rem 1.75rem;
    &:hover {
      background-color: color.scale(
        clr(primary, red),
        $lightness: -50%
      ) !important;
    }
  }
}
