@use '../abstracts' as *;

body {
  margin: 0;
  padding: 0;
  font-family: $ff-sans;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  overflow-x: hidden;
  @include mq(medium) {
    padding-top: 30px;
  }
}

.container {
  width: min(calc(100vw - 5rem), 1000px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.456);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ambient {
  z-index: -1;
  width: 200px;
  @include mq(large) {
    width: 500px;
    filter: blur(200px) brightness(110%);
  }
  position: absolute;
  border-radius: 50%;

  aspect-ratio: 1/1;
  filter: blur(100px) brightness(80%);
}
.ambient:nth-child(1) {
  bottom: 0;
  left: 0;
}
.ambient:nth-child(2) {
  top: -100px;
  left: -50px;
}
.ambient:nth-child(3) {
  bottom: 0;
  left: 0;
}
.ambient:nth-child(4) {
  bottom: 50%;
  transform: translate(50%);
  left: -100px;
}
.ambient:nth-child(5) {
  top: -100px;
  right: -50px;
}
.ambient:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  opacity: 0.5;
  @include mq(medium) {
    width: 500px;
  }
}

.tab.active {
  display: block;
}
.tab {
  display: none;
}
